.create-page {
    background-image: url('https://images.pexels.com/photos/30018091/pexels-photo-30018091.jpeg?cs=srgb&dl=pexels-steve-30018091.jpg&fm=jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2d3436;
}

h1 {
    text-align: center;
    color: #a6827b; 
    margin-bottom: 10px;
}

form {
    width: 70%; 
    margin: 0 auto;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(70, 67, 67, 0.8); 
}

form label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(2, 7, 48);
}

form input {
    width: 40%; 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #4a5683;
    border-radius: 5px;
    font-size: 0.9rem; 
}

form button {
    background-color: #13a533;
    color: rgb(255, 252, 252);
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 50%;
}

form button:hover {
    background-color: #03390e;
}

.card {
    background-color: rgba(108, 107, 107, 0.3); 
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%; 
    box-sizing: border-box;
    margin-bottom: 15px;
    position: relative;
    top: 0;
}

.card h2 {
    color: rgb(165, 47, 47);
    margin-top: 0;
}

.card p {
    color: pink; 
    margin: 5px 0;
}
